# Association Learning

In [ ]:
# pip install mlxtend

In [8]:
dataset = [['Bread', 'Milk','Beer'],\
          ['Bread','Diapers','Eggs'],\
          ['Milk','Diapers','Beer','Cola'],\
          ['Bread','Milk','Diapers','Beer'],\
          ['Bread','Milk','Cola']]

In [9]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te = te.fit(dataset) # Reads all unique items
te_ary = te.transform(dataset) # Converts into matrix
print(te_ary)
print(te.columns_)

[[ True  True False False False  True]
 [False  True False  True  True False]
 [ True False  True  True False  True]
 [ True  True False  True False  True]
 [False  True  True False False  True]]
['Beer', 'Bread', 'Cola', 'Diapers', 'Eggs', 'Milk']

In [11]:
df = pd.DataFrame(te_ary, columns=te.columns_)
df

    Beer  Bread   Cola  Diapers   Eggs   Milk
0   True   True  False    False  False   True
1  False   True  False     True   True  False
2   True  False   True     True  False   True
3   True   True  False     True  False   True
4  False   True   True    False  False   True

In [20]:
from mlxtend.frequent_patterns import apriori

# Finds frequency of item or group of items
frequent_itemsets = apriori(df,\
            min_support = 0.6, use_colnames = True)
frequent_itemsets

   support       itemsets
0      0.6         (Beer)
1      0.8        (Bread)
2      0.6      (Diapers)
3      0.8         (Milk)
4      0.6   (Beer, Milk)
5      0.6  (Milk, Bread)

In [23]:
from mlxtend.frequent_patterns import association_rules

rules = association_rules(frequent_itemsets,\
                  metric = 'support',\
                  min_threshold = 0.6)

rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Beer),(Milk),0.6,0.8,0.6,1.00,1.2500,0.12,inf
1,(Milk),(Beer),0.8,0.6,0.6,0.75,1.2500,0.12,1.6
2,(Milk),(Bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
3,(Bread),(Milk),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8

In [ ]:
# rules = association_rules(frequent_itemsets,\
#                   metric = 'support',\
#                   min_threshold = 0.2)

In [24]:
rules[rules['confidence']>0.8]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Beer),(Milk),0.6,0.8,0.6,1.0,1.25,0.12,inf

In [25]:
rules[rules['support']>= rules['support'].max()]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Beer),(Milk),0.6,0.8,0.6,1.00,1.2500,0.12,inf
1,(Milk),(Beer),0.8,0.6,0.6,0.75,1.2500,0.12,1.6
2,(Milk),(Bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
3,(Bread),(Milk),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8

In [32]:
cartItem = ['Milk']

n = rules[rules['antecedents'].apply(lambda x: set(cartItem).issubset(set(x)))]

In [27]:
rules[rules["antecedents"].apply(lambda x : set(cartItem).issubset(set(x)))].sort_values(["support"])["consequents"]

1     (Beer)
2    (Bread)
Name: consequents, dtype: object

In [38]:
sugg = list(n['consequents'])
print(sugg)
list2 = []
for i in sugg:
    list2.append(list(i))
    print(list(i))
list2

[frozenset({'Beer'}), frozenset({'Bread'})]
['Beer']
['Bread']

[['Beer'], ['Bread']]

In [28]:
list1 = []

C = input()
list1.append(C)
print(list1)
rules[rules["antecedents"].apply(lambda x : set(list1).issubset(set(x)))]

Milk
['Milk']

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,(Milk),(Beer),0.8,0.6,0.6,0.75,1.2500,0.12,1.6
2,(Milk),(Bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8

In [29]:
n = int(input())
list1 = []
for i in range(n):
    C = input()
    list1.append(C)
    print(list1)
    
print('**********')
print(list1)
rules[rules["antecedents"].apply(lambda x : set(list1).issubset(set(x)))]

1
Bread
['Bread']
**********
['Bread']

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
3,(Bread),(Milk),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8