# Basics of Python (contd.)

## Dictionaries

Pair of {key : value}, unordered set

- Creating and assessing elements

In [ ]:
dict1 = {"jan":31, "feb":28, "march":31}
print(dict1)
print(type(dict1))

print(dict1["jan"]) #dictname[key] ---> value
print(dict1["feb"])
#print(dict1["april"])

In [ ]:
dict1 = {"jan":31, "feb":28, "march":31, "feb":29}
print(dict1)

dict1 = {'1':'a','2':'b'}
print(dict1)
print(dict1['1'])

- Updating a dictionary

In [ ]:
dict1 = {"jan":31, "feb":28, "march":31}
dict1["april"] = 30
print(dict1)

dict1['feb'] = 29
print(dict1)

- Keys are unique and immutable (not changeable)

In [ ]:
dict1 = {"jan":31, "feb":28, "march":31}
dict1['april'] = [1,2,3,4]
print(dict1)

# dict2 = {[1,2,3,4]:"april"}
# dict3 = {{"jan":31}:"april"}

- Dictionary functions

In [ ]:
dict1 = {"jan":31, "feb":28, "march":31}
print(len(dict1))

In [ ]:
print(dict1.get("jan"))
print(dict1.get("feb"))
print(dict1.get("april"))
print(dict1.get('march'))

print(dict1.get("april",30))
print(dict1.get("jan","Invalid"))

In [ ]:
print(dict1)
print(dict1.items())
print(type(dict1.items()))

print(list(dict1.items()))
print(type(list(dict1.items())))

list1 = list(dict1.items())
print(list1[0])

In [ ]:
print(dict1)
print(dict1.keys())

print(list(dict1.keys()))

In [ ]:
print(dict1)
print(dict1.values())

print(list(dict1.values()))

In [ ]:
print(dict1)
dict1.pop("jan")
print(dict1)
dict1.pop("march")
print(dict1)

In [ ]:
print(dict1)
dict1.update({"jan":31,"march":31})
print(dict1)

In [ ]:
print(dict1)
dict1.clear()
print(dict1)

## Tuples

In [ ]:
tuple1 = (30,40,"prathamesh",4.56)
print(tuple1)
print(type(tuple1))

tuple2 = (30)
print(tuple2)
print(type(tuple2))

In [ ]:
print(tuple1[0])
print(tuple1[2])
print(tuple1[-1])

print(tuple1[:2])
print(tuple1[-2:])
print(tuple1[::-1])

In [ ]:
# tuple1[1] = 50

# tuple1.append(50) # update,append,remove,insert are invalid

## Loops

- range

In [ ]:
print(range(10))
print(type(range(10)))

print(list(range(10)))
print(type(list(range(10))))

print(range(2,11))
print(list(range(2,11)))

print(range(2,11,3))
print(list(range(2,11,3)))

#print(list(range(2,11,2.5)))

In [ ]:
for everyItem in range(1,10):
    print(everyItem)
    
for everyItem in range(1,10):
    print(everyItem,end=' ')

In [ ]:
print("prathamesh","satardekar", sep = '', end = '@')
print('eduvance.in')

In [ ]:
list1 = [1,4,'prathamesh',4.2]

for element in list1:
    print(element)
    print(type(element))

In [ ]:
for everyItem in list(range(1,10)):
    if everyItem%2 == 0:
        print(everyItem)
    #print("********",everyItem,"**********")

In [ ]:
list1 = ['a','b','c','d']
for item in range(len(list1)):
    print(item)

- while

In [ ]:
num = 0
while num<5:
    print("Hello")
    num+=1     #num = num+1

In [ ]:
list1 = [1,2,3,4,5]
while len(list1)>0:
    del list1[-1]
    print(list1)

## String functions

- startswith, endswith

In [ ]:
str1 = "Cat apple mango dog"

print(str1.startswith('Cat'))
print(str1.startswith('Catapple'))

print(str1.startswith('cat'))

print(str1.endswith('dog'))
print(str1.endswith('godog'))

if str1.startswith('Cat'):
    print("Correct")
else:
    print("Incorrect")
    
if str1.endswith('godog'):
    print("Correct")
else:
    print("Incorrect")

In [ ]:
str1 = "Cat apple mango dog"
print(str1.startswith("apple",4))
print(str1.startswith("apple",4,13))

In [ ]:
str1 = "Cat apple mango dog"
print(str1.endswith("dog",4))
print(str1.endswith("dog",4,19))

- strip, lstrip, rstrip

In [ ]:
str1 = "0000000000Cat apple mango dog0000000000000"
print(str1)
print(str1.strip('0'))
print(str1.strip(' '))

In [ ]:
str1 = "0000000000Cat apple mango dog0000000000000"
print(str1.lstrip('0'))
print(str1.lstrip('C'))

print(str1.rstrip('0'))
print(str1.rstrip('g'))

- isupper, islower, upper, lower

In [4]:
str1 = 'HELLO'
str2 = 'hello'
str3 = 'HEllo'

print(str1.isupper())
print(str2.isupper())
print(str3.isupper())

if str1.isupper():
    print("It is upper case")
else:
    print("It is not upper case")

True
False
False
It is upper case

In [5]:
print(str1.islower())
print(str2.islower())
print(str3.islower())

if str1.islower():
    print("It is lower case")
else:
    print("It is not lower case")

False
True
False
It is not lower case

In [6]:
if str3.isupper():
    print("It is upper case")
elif str3.islower():
    print("It is lower case")
else:
    print("It is mixed cases")

It is mixed cases

In [10]:
print(str2)
print(str2.upper())
print(str3)
print(str3.upper())

hello
HELLO
HEllo
HELLO

In [13]:
print(str1)
print(str1.lower())
print(str3)
print(str3.lower())

HELLO
hello
HEllo
hello

In [16]:
print(str1)
print(str1.swapcase())
print(str2)
print(str2.swapcase())
print(str3)
print(str3.swapcase())

HELLO
hello
hello
HELLO
HEllo
heLLO

- replace, join, split

In [28]:
oldstring = "I like Python programming."
newstring = oldstring.replace("like", "love")
print(newstring)

newstring = oldstring.replace("dislike", "love")
print(newstring)

oldstring = "I like Python. I like programming. I just like everything!"
newstring = oldstring.replace("like", "love")
print(newstring)

newstring = oldstring.replace("like", "love", 2)
print(newstring)

I love Python programming.
I like Python programming.
I love Python. I love programming. I just love everything!
I love Python. I love programming. I just like everything!

In [36]:
sep = '-'
date = sep.join(('28','04','2020'))
print(date)

sep = '/'
date = sep.join(['28','04','2020'])
print(date)

sep = " and "
list1 = ["Prathamesh", "Dilip", "Vinay", "Anuj", "Jay"]
names = sep.join(list1)
print(names)

28-04-2020
28/04/2020
Prathamesh and Dilip and Vinay and Anuj and Jay

In [40]:
str1 = "cat,dog,monkey,deer"
animals = str1.split(",")
print(animals)
print(type(animals))

animals = str1.split(",",2)
print(animals)

['cat', 'dog', 'monkey', 'deer']
<class 'list'>
['cat', 'dog', 'monkey,deer']