# Basics of Python - 1

This is day 1 Jupyter notebook.

In [1]:
print("Hello World")

Hello World

In [2]:
print(True)
print(4)
print(4.3)
print('c')

True
4
4.3
c

In [3]:
print(type(4))
print(type(4.3))
print(type('c'))
print(type(True))
print(type("Hello World"))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'str'>

## Arithmetic Operations

In [4]:
print(7+3)
print(7-3)
print(7*3)
print(7/3)

print(7//3) # floor division
print(7%3) # modulo
print(7**3) # power

10
4
21
2.3333333333333335
2
1
343

In [5]:
print(5.5/2)
print(5.5/2.2)

print(5/2.2)
print(4/2)

print(5*3)
print(5.2*3)
print(5.2*3.3)

2.75
2.5
2.2727272727272725
2.0
15
15.600000000000001
17.16

## Lists

In [6]:
[1, 2, 3, 4]

[1, 2, 3, 4]

In [7]:
list1 = [1, 2, 3, 4]
print(list1)
print(type(list1))

[1, 2, 3, 4]
<class 'list'>

In [8]:
list2 = [4, 7.2, 'c', "Prathamesh"]
print(list2)

[4, 7.2, 'c', 'Prathamesh']

List Indexing

In [9]:
print(list2)
print(list2[0])
print(list2[1])
print(list2[2])
print(list2[3])

[4, 7.2, 'c', 'Prathamesh']
4
7.2
c
Prathamesh

List Updating

In [10]:
print(list2)
list2[1] = 9.2
print(list2)

[4, 7.2, 'c', 'Prathamesh']
[4, 9.2, 'c', 'Prathamesh']

In [11]:
print(list2)
list2[0] = "Hello"
print(list2)

[4, 9.2, 'c', 'Prathamesh']
['Hello', 9.2, 'c', 'Prathamesh']

List operations

In [12]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]

print(list1 + list2)
# print(list1 - list2)
# print(list1 * list3)
print(list1 * 2)
# print(list1/list2)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 1, 2, 3, 4]

List Slicing

In [13]:
list1 = [1,2,3,4,5,6,7,8,9,10] # 0,1,2,.... 9
print(list1[0:5])
print(list1[0:2])

print(list1[:5])
print(list1[5:])

print(list1[0:7:3]) # [start index : end index+1 : step]
list2 = list1[0:7:3]
print(list2)

[1, 2, 3, 4, 5]
[1, 2]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 4, 7]
[1, 4, 7]

In [14]:
print(list1) # negative index... -10,-9,-8,..... -1
print(list1[-1])

print(list1[-7:-3])
print(list1[-7:-1:2])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
10
[4, 5, 6, 7]
[4, 6, 8]

List functions

In [15]:
list1 = [1,2,3,4,5,6,7,8,9,10]
print(len(list1))

list1.append('a')
print(list1)
list1.append('b')
print(list1)
list1.append(4.2)
print(list1)

10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'a']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'a', 'b']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'a', 'b', 4.2]

In [16]:
list1 = [1,2,3,4,5,6,7,8,9,10]
list1.insert(5,'a')
print(list1)
list1.insert(5,'b')
print(list1)

list2 = ["hello","world"]
list1.extend(list2)
print(list1)

list2 = [13,5,8,6]
list2.sort()
print(list2)
list2.sort(reverse = True)
print(list2)

list2.clear()
print(list2)

[1, 2, 3, 4, 5, 'a', 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 'b', 'a', 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 'b', 'a', 6, 7, 8, 9, 10, 'hello', 'world']
[5, 6, 8, 13]
[13, 8, 6, 5]
[]

## Strings

String indexing

In [17]:
str1 = "Hello world !!"
print(str1)
print(str1[0])
print(str1[-1])

Hello world !!
H
!

String Slicing

In [31]:
print(str1)
print(str1[0:6])
print(str1[6:11])
print(str1[-8:-3])
print(str1[0:5:2])

print(str1[-2:])

print(str1[-8:-6])

Hello world !!
Hello
world
world
Hlo
!!
wo

String operations

In [19]:
print(str1)
str2 = "i love python"

print(str1+str2)
#print(str1-str2)
#print(str1/str2)
# print(str1*str2)
print(str1*2)

Hello world !!
Hello world !!i love python
Hello world !!Hello world !!

String Formatting

In [32]:
num1 = 2
num2 = "hi"

#first method
print("my first number is %d" %(num1))

#second method
print("my first number is {0}".format(num1))
print("my first number is {1}, my second number is {0}".format(num1,num2))
print("my first number is {n1}, my second number is {n2}".format(n1 = num1, n2 = num2)) #alternate variation

my first number is 2
my first number is 2
my first number is hi, my second number is 2
my first number is 2, my second number is hi

## User input

In [36]:
user = input("Enter your name: ")
print(user)
print(type(user))

Enter your name: prathamesh
prathamesh
<class 'str'>

In [37]:
user = input("Enter the number:")
print(user)
print(type(user))

Enter the number:16
16
<class 'str'>

In [38]:
user = int(input("Enter the Age:"))
print(user)
print(type(user))

Enter the Age:24
24
<class 'int'>

## Conditional Statements

In [44]:
value = 3
if value > 5:
    print("done")
else:
    print("in else")

in else
execution done

In [25]:
value = 2
if value > 5:
    print("hello1")
elif value < 5:
    print("hello2")
else:
    print("hello3")

hello2

In [45]:
fruit = "Apple"
isApple = False
if fruit == "Apple":
    isApple = True
else:
    isApple = False

print(isApple)

True

In [27]:
fruit = "Mango"
isApple = True if fruit == "Apple" else False
print(isApple)

# innermost if output
# innermost if condition
# innermost else
# innermost else output

False

In [29]:
a, b = 10, 20

if a!=b:
    if a>b:
        print("a is greater than b")
    else:
        print("b is greater than a")
else:
    print("both are equal")

b is greater than a

In [30]:
a, b = 10, 20
print("a is greater than b") if a>b else print("b is greater than a") if a!=b else print("both are equal")

b is greater than a